{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}

<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filtrar cliente</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.username.label_tag }}
          {% render_field filter.form.username class="form-control" %}
        </div>        
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.cif.label_tag }}
          {% render_field filter.form.cif class="form-control" %}
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 25px;margin-left: 12px"">
          <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
      </div>
    </div>
  </form>

<table class="table table-bordered">
  <thead>
    <tr class='table-title'>
      <td><strong>Nombre de usuario</strong></td>
      <td><strong>Nombre</strong></td>
      <td><strong>Apellido</strong></td>
      <td><strong>Cif</strong></td>
      <td><strong>Direccion</strong></td>
      <td><strong>Localidad</strong></td>
      <td><strong>Provincia</strong></td>
      <td><strong>Codigo Postal</strong></td>
      <td><strong>Telefono</strong></td>
      <td><strong>Telefono movil</strong></td>
      <td><strong>Fecha de alta</strong></td>
      <td><strong>Tarifa</strong></td>
      <td><strong>Deuda Cliente</strong></td>
      <td><strong>Estado Cliente</strong></td>
    </tr>
    
  </thead>
  <tbody>
    {% if object_list %}
    {% for cliente in object_list %}
    <tr>
      <td>{{ cliente.username }}</td>
      <td>{{ cliente.profile.nombre }}</td>
      <td>{{ cliente.profile.apellido }}</td>
      <td>{{ cliente.profile.cif }}</td>
      <td>{{ cliente.profile.direccion }}</td>
      <td>{{ cliente.profile.localidad }}</td>
      <td>{{ cliente.profile.provincia }}</td>
      <td>{{ cliente.profile.codigo_postal }}</td>
      <td>{{ cliente.profile.telefono }}</td>
      <td>{{ cliente.profile.telefono_movil }}</td>
      <td>{{ cliente.profile.fecha_alta }}</td>
      <td>{{ cliente.profile.tarifa.nombre }}</td>
      <td>{{ cliente.profile.deuda_cliente }}</td>
      <td>{{ cliente.profile.estado_cliente }}</td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de solicitudes</h1>
    {% endif %}
  </tbody>
</table> 

{% if page_obj.has_other_pages %}
  <h4>Mostando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} clientes</h4>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock%}