{% extends 'base/base.html' %}

{% block content %}
{% if productos %}
  <h3>Hay un total de {{ productos.paginator.count}} productos disponibles</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td><strong>#</strong></td>
        <td><strong>Nombre</strong></td>
        <td><strong>Color</strong></td>
        <td><strong>Eliminar</strong></td>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" value="{{producto.id}}", name='id'>
          <td>{{producto.id}}</td>
          <td>{{producto.nombre|capfirst}}</td>
          <td>{{producto.color}}</td>
          <td>
            <input type="submit" value='delete'>
          </td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% if productos.has_other_pages %}
  <h4>Mostando {{ productos.start_index }} - {{ productos.end_index }} de {{ productos.paginator.count }} </h4>
  <ul class="pagination">
    {% if productos.has_previous %}
      <li><a href="?page={{ productos.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in productos.paginator.page_range %}
      {% if productos.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if productos.has_next %}
      <li><a href="?page={{ productos.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

  {% endblock %}