{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filtrar cliente</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3" style="max-width:200px">
          <label for="id_username">Nombre de usuario:</label>
          {% render_field filter.form.username class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3" style="max-width:200px">
          {{ filter.form.nombre.label_tag }}
          {% render_field filter.form.nombre class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3" style="max-width:200px">
          {{ filter.form.apellido.label_tag }}
          {% render_field filter.form.apellido class="form-control" %}
        </div>        
        <div class="form-group col-sm-4 col-md-3" style="max-width:200px">
          {{ filter.form.cif.label_tag }}
          {% render_field filter.form.cif class="form-control" %}
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 25px;margin-left: 12px"">
          <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
      </div>
    </div>
  </form>


  <table class="table table-bordered">
  <thead>
    <tr class='table-title'>
      <td><strong>Nombre de usuario</strong></td>
      <td><strong>Nombre</strong></td>
      <td><strong>Apellido</strong></td>
      <td><strong>Cif</strong></td>
      <td><strong>Elegir</strong></td>
    </tr>
    
  </thead>
  <tbody>
    {% if object_list %}
    {% for cliente in object_list %}
    <tr>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" value="{{cliente.id}}", name='id'>
        <input type="hidden" value="{{cliente.username}}", name='nombre'>
        <td>{{ cliente.username }}</td>
        <td>{{ cliente.profile.nombre }}</td>
        <td>{{ cliente.profile.apellido }}</td>
        <td>{{ cliente.profile.cif }}</td>
        <td class="delete">
          <input type="submit" value='Elegir'>
        </td>
      </form>
    </tr>
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de solicitudes</h1>
    {% endif %}
  </tbody>
</table> 
{% endblock %}
