{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr class="table-title">
      <td><strong>REFERENCIA DEL PEDIDO</strong></td>
      <td><strong>CLIENTE</strong></td>
      <td><strong>PRODUCTO</strong></td>
      <td><strong>CANTIDAD PEDIDOS</strong></td>
      <td><strong>UNIDADES VENDIDAS</strong></td>
      <td><strong>TOTAL PAGADO</strong></td>
      <td><strong>ESTADO</strong></td>
    </tr>
    
  </thead>
  <tbody>
    {% if object_list %}
    {% for pedido in object_list %}
    <tr>
      <td>{{ pedido.referencia_pedido }}</td>
      <td>{{ pedido.cliente }}</td>
      <td>{{ pedido.producto }}</td>
      <td>{{ pedido.unidades }}</td>
      <td>{{ pedido.unidades_vendidas }}</td>
      <td>{{ pedido.pagado }}</td>
      <td>{{ pedido.estado }}</td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de solicitudes</h1>
    {% endif %}
  </tbody>
</table> 

{% endblock%}