{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}

<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filtrar pedidos</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.producto.label_tag }}
          {% render_field filter.form.producto class="form-control" %}
        </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 25px; margin-left: 12px">
        <span class="glyphicon glyphicon-search"></span> Buscar
      </button>
      </div>
    </div>
  </form>

<table class="table table-bordered">
  <thead>
    <tr class='table-title'>
      <td><strong>Referencia del pedido</strong></td>
      <td><strong>Cliente</strong></td>
      <td><strong>Producto</strong></td>
      <td><strong>Talla</strong></td>
      <td><strong>Cantidad pedidos</strong></td>
      <td><strong>Unidades vendidas</strong></td>
      <td><strong>Total Pagado</strong></td>
      <td><strong>Estado</strong></td>
    </tr>
    
  </thead>
  <tbody>
    {% if object_list %}
    {% for pedido in object_list %}
    <tr>
      <td>{{ pedido.referencia_pedido }}</td>
      <td>{{ pedido.cliente }}</td>
      <td>{{ pedido.producto }}</td>
      <td>{{ pedido.talla }}</td>
      <td>{{ pedido.unidades }}</td>
      <td>{{ pedido.unidades_vendidas }}</td>
      <td>
        <span id="pagado_text{{pedido.id}}">{{ pedido.pagado }}€</span>
        <form method="post" id="pagado_input{{pedido.id}}" class="hidden" style="display:inline-block">
          {% csrf_token %}
          <input type="hidden" name="id_pedido" value={{pedido.id}}>
          <input style="max-width:50px" name="pagado" type="text" value="{{pedido.pagado}}">
          <input id="pagado_submit" type="submit" value="edit">
        </form>
        <a id="edit|{{pedido.id}}" href="#">editar</a>
      </td>
      <td>{{ pedido.estado }}</td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de solicitudes</h1>
    {% endif %}
  </tbody>
</table> 

{% endblock%}
{% block extrajs %}
<script type="text/javascript">
  
$('a[id*="edit"]').click(function(){
  id = $(this)[0].id.split('|')[1]
  $('#pagado_input'+id).toggleClass('hidden')
  $('#pagado_text'+id).toggleClass('hidden')
  console.log('hola')
  if($(this).html() == 'x'){
    $(this).html('editar')
  }
  else{
    $(this).html('x')
  }
})
</script>

{% endblock %}