{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block content %}

<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filtrar pedidos</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.producto.label_tag }}
          {% render_field filter.form.producto class="form-control" %}
        </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 25px; margin-left: 12px">
        <i class="fa fa-search"></i> Buscar
      </button>
      </div>
    </div>
  </form>
<table class="table table-bordered">
  <thead>
    <tr class='table-title'>
      <td><strong>Referencia del pedido</strong></td>
      {% if user.profile.is_admin %}
      <td><strong>Cliente</strong></td>
      {% endif %}
      <td><strong>Producto</strong></td>
      <td><strong>Talla</strong></td>
      <td><strong>Cantidad pedidos</strong></td>
      <td><strong>Precio/ud.</strong></td>
      <td><strong>Precio total.</strong></td>
      <td><strong>Unidades vendidas</strong></td>
      <td><strong>Total Pagado</strong></td>
      <td><strong>Total a Pagar</strong></td>
      <td><strong>Estado</strong></td>
    </tr>
    
  </thead>
  <tbody>
    {% if object_list %}
    {% for pedido in object_list %}
    <tr>
      <td>{{ pedido.referencia_pedido }}</td>
      {% if user.profile.is_admin %}
      <td>{{ pedido.cliente }}</td>
      {% endif %}
      <td>{{ pedido.producto }}</td>
      <td>{{ pedido.talla }}</td>
      <td>{{ pedido.unidades }}</td>
      <td>{{ pedido.precio_total_unidad }}€</td>
      <td>{{ pedido.precio_total }}€</td>
      <td>{{ pedido.unidades_vendidas }}</td>
      <td class="delete">
        <span id="pagado_text{{pedido.id}}">{{ pedido.pagado }}€</span>
        {% if user.profile.is_admin %}
        <form method="post" id="pagado_input{{pedido.id}}" class="hidden" style="display:inline-block">
          {% csrf_token %}
          <input type="hidden" name="id_pedido" value={{pedido.id}}>
          <input type="hidden" name="ref_pedido" value={{pedido.referencia_pedido}}>
          <input style="max-width:50px" name="pagado" type="text" value="{{pedido.pagado}}">
          <input id="pagado_submit" type="submit" value="Cambiar">
        </form>
        <span> - </span>
        <a id="edit|{{pedido.id}}" href="#">Cambiar</a>
        {% endif %}
      </td>
      <td>{{ pedido.precio_total|sub:pedido.pagado }}€</td>
      <td>{{ pedido.estado }}</td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de solicitudes</h1>
    {% endif %}
  </tbody>
</table> 

{% endblock%}
{% block extrajs %}
<script type="text/javascript">
  
$('a[id*="edit"]').click(function(e){
  e.preventDefault()
  id = $(this)[0].id.split('|')[1]
  $('#pagado_input'+id).toggleClass('hidden')
  $('#pagado_text'+id).toggleClass('hidden')
  console.log('hola')
  if($(this).html() == '<i class="fa fa-window-close fa-lg"></i>'){
    $(this).html('Cambiar')
  }
  else{
    $(this).html('<i class="fa fa-window-close fa-lg"></i>')
  }
})
</script>

{% endblock %}