{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr class="table-title">
      <td><strong>Referencia del pedido</strong></td>
      <td><strong>Cliente</strong></td>
      <td><strong>Producto</strong></td>
      <td><strong>Cantidad pedidos</strong></td>
      <td><strong>Unidades vendidas</strong></td>
      <td><strong>Total Pagado</strong></td>
      <td><strong>Estado</strong></td>
    </tr>
    
  </thead>
  <tbody>
    {% if object_list %}
    {% for pedido in object_list %}
    <tr>
      <td>{{ pedido.referencia_pedido }}</td>
      <td>{{ pedido.cliente }}</td>
      <td>{{ pedido.producto }}</td>
      <td>{{ pedido.unidades }}</td>
      <td>{{ pedido.unidades_vendidas }}</td>
      <td>{{ pedido.pagado }}</td>
      <td>{{ pedido.estado }}</td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de solicitudes</h1>
    {% endif %}
  </tbody>
</table> 

{% endblock%}