{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}

<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filtrar pedidos</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3" style="max-width:150px">
          {{ filter.form.referencia_pedido.label_tag }}
          {% render_field filter.form.referencia_pedido class="form-control" %}
        </div> 
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.cliente.label_tag }}
          {% render_field filter.form.cliente class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.producto.label_tag }}
          {% render_field filter.form.producto class="form-control" %}
        </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 25px; margin-left: 12px">
        <span class="glyphicon glyphicon-search"></span> Buscar
      </button>
      </div>
    </div>
  </form>

<table class="table table-bordered">
  <thead>
    <tr class='table-title'>
      <td><strong>Referencia del pedido</strong></td>
      <td><strong>Cliente</strong></td>
      <td><strong>Cantidad de productos pedidos</strong></td>
      <td><strong>Unidades totales</strong></td>
      <td><strong>Unidades vendidas</strong></td>
      <td><strong>Total Pagado</strong></td>
    </tr>
    
  </thead>
  <tbody>
    {% if object_list %}
    {% for pedido in object_list %}
    <tr>
      <td><a href="{% url 'pedido_list_detail' pedido.referencia_pedido %}">{{ pedido.referencia_pedido }}</a></td>
      <td>{{ pedido.cliente }}</td>
      <td>{{ pedido.dcount }}</td>
      <td>{{ pedido.unidades_totales }}</td>
      <td>{{ pedido.unidades_vendidas }}</td>
      <td>{{ pedido.pagado }}€</td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h1>No hay registros de pedidos</h1>
    {% endif %}
  </tbody>
</table>

{% if page_obj.has_other_pages %}
  <h4>Mostando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} </h4>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock%}